.container {
  height: 450px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), -4px 0 6px rgba(0, 0, 0, 0.1); 
}

.title{
  font-weight: 200;
  color: var(--textSoft);
  margin-bottom: 20px;
}