.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactButton {
  background: #ff7542;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icons{
  display: flex;
  gap: 20px;
}
