.container {
  padding: 10px;
  border-radius: 10px;
  background-color:var(--bgsoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--textSoft);
  
  text-transform: capitalize;
  font-size: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactButton {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icons{
  display: flex;
  gap: 20px;
}
.userProfParent{
  position: absolute;
  z-index: 21;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  height: 150px;
}