.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .grayBackground {
    background-color: var(--bgSoft);
  }

  .serviceImage {
    border-radius: 8px;
    max-width: 50%;
    height: auto;
  }
  
  .serviceTitle {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .serviceDescription {
    font-size: 0.9rem;
    color: #555;
  }
  .serviceContainer {
    display: flex;
    gap: 0px;
  }
  
  .specialitiesContainer {
    flex: 1;
  }