@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --bgSoft:#FAFAFA;
    --bg:white;
    --text: black;
    --textSoft:#cad3e2;
    --orange:#ff7542;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }