.container {
  position: sticky;
  top: 40px;
  transition: width 0.3s ease;
  width: 150px;
  height:100vh;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  
}

.logoContainer {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 40px;
  }

  .list {
    width: 40px;
  }

  .logoContainer {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    width: 30px;
  }

  .list {
    width: 30px;
  }

  .logoContainer {
    display: none;
  }
}

@media (max-width: 360px) {
  .container {
    width: 20px;
  }

  .list {
    width: 20px;
  }

  .logoContainer {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 150px;
  }

  .list {
    width: 150px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 180px;
  }

  .list {
    width: 180px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 200px;
  }

  .list {
    width: 200px;
  }
}
